@import url("fonts.css");

@import url(reset.css);

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

body {
    font-family: "Proxima Nova", sans-serif;
}

.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.top-header {
    background: #F8F8F8;
    padding: 15px 0px;
}

.top-header__container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navigation-header__list {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.navigation-header__item {
    color: #535353;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.navigation-header__item a {
    color: #535353;
    transition: color 0.3s;
}

@media (any-hover: hover) {
    .navigation-header__item a:hover {
        color: #FFBC57;
    }
}

.help-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.help-header__messengers {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 10px;
    margin-left: 20px;
}

.messengers__item {
    border: 3px solid transparent;
    border-radius: 50%;
}

@media (any-hover: hover) {
    .messengers__item:hover {
        border-color: #FFBC57;
        transition: border-color 0.3s;
    }
}

.help-header__language {
    margin-left: 30px;
    color: #535353;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}

.language-header__link {
    color: #535353;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
}

.language-header__link span::after {
    background: url(../img/arrow.svg) 0 0 no-repeat;
    content: "";
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}

.language-header__link span {
    color: #535353;
    transition: color 0.3s;
}

@media (any-hover: hover) {
    .language-header__link span:hover {
        color: #FFBC57;
    }
}

.navigation-header__list>*:last-child {
    padding-right: 0px;
}

.navigation-header__list>*:first-child {
    padding-left: 0px;
}

.header__main {
    min-height: 100px;
    border-bottom: 2px solid #F8F8F8;
}

.main-header__container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    column-gap: 30px;
    row-gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 0px;
}

.main-header__image {
    width: 100%;
}

.main-header__button {
    background-color: #FFBC57;
    padding: 12px 20px;
    border-radius: 8px;
}

@media (any-hover: hover) {
    .main-header__button:hover {
        background-color: #ffb357;
        transition: color 0.3s;
    }
}

.button__text {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.26;
}

.button__text::before {
    background: url(../img/menu-catalog.svg) 0 0 no-repeat;
    content: "";
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.main-header__info {
    display: flex;
    gap: 30px;
}

.info__container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main-header__search {
    position: relative;
    flex-grow: 1;

}

.search__input {
    color: #b1b1b1;
    font-size: 19px;
    min-height: 50px;
    padding: 10px 50px 10px 15px;
    border-radius: 8px;
    border: 1px solid #B1B1B1;
}

.search__input:focus {
    outline: 1px solid #fea622;
    border-color: transparent;
}

.search__input::placeholder {
    color: #b1b1b1;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}

.search__button {
    background: url("../img/search.svg") center no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.form-info__button {
    background: url("../img/search-mobile.svg") center no-repeat;
    width: 50px;
    height: 50px;
    display: none;
}

.info__link {
    background: url(../img/phone.svg) 0 0 no-repeat;
    content: "";
    width: 50px;
    height: 50px;
    vertical-align: top;
}

@media (any-hover: hover) {
    .info__link:hover {
        background: url(../img/phone-orange.svg) 0 0 no-repeat;
        content: "";
        width: 50px;
        height: 50px;
        transition: color 0.3s;
    }
}

.info__like {
    background: url(../img/like.svg) 0 0 no-repeat;
    content: "";
    width: 50px;
    height: 50px;
}

@media (any-hover: hover) {
    .info__like:hover {
        background: url(../img/like-orange.svg) 0 0 no-repeat;
        content: "";
        width: 50px;
        height: 50px;
        transition: color 0.3s;
    }
}

.info__cart {
    background: url(../img/cart.svg) 0 0 no-repeat;
    content: "";
    width: 50px;
    height: 50px;
}

@media (any-hover: hover) {
    .info__cart:hover {
        background: url(../img/cart-orange.svg) 0 0 no-repeat;
        content: "";
        width: 50px;
        height: 50px;
        transition: color 0.3s;
    }
}


.main-info__works {
    color: #535353;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
}

.main-info__phone {
    color: #2b2929;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}

@media (any-hover: hover) {
    .main-info__phone a:hover {
        color: #FFBC57;
        transition: color 0.3s;
    }
}

.info__icons {
    display: flex;
    gap: 20px;
}

.header__menu {
    max-width: 1320px;
    margin: 0 auto;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    gap: 10px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 5px;
}

.menu__item {
    color: #535353;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.26;
}

.menu__item a {
    color: #535353;
    transition: color 0.3s;
}

@media (any-hover: hover) {
    .menu__item a:hover {
        color: #FFBC57;
        transition: color 0.3s;
    }
}

.menu__item:first-child ::before {
    background: url(../img/share.svg) 0 0 no-repeat;
    content: "";
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.menu__item:nth-child(2) ::before {
    background: url(../img/sale.svg) 0 0 no-repeat;
    content: "";
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.menu__item:last-child ::before {
    background: url(../img/credit.svg) 0 0 no-repeat;
    content: "";
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.menu__use {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 5px;
    justify-content: end;
}

.use__item {
    color: #535353;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.26;
}

.use__item a {
    color: #535353;
    transition: color 0.3s;
}

@media (any-hover: hover) {
    .use__item a:hover {
        color: #FFBC57;
        transition: color 0.3s;
    }
}

h1 {
    color: #2b2929;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    padding: 15px;
}

h2 {
    color: #2b2929;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    padding: 15px;
}

.header__mobile {
    display: none;
}

.main-header__logo,
.info__link,
.main-header__button,
.main-header__info {
    z-index: 2;
}

@media (max-width: 1220px) {

    .menu__item:not(:last-child),
    .use__item:not(:last-child) {
        padding-right: 20px;
    }

    .navigation-header__list {
        gap: 20px;
    }

    .help-header__messengers {
        margin-left: 10px;
    }

    .top-header__language {
        margin-left: 15px;
    }

    .info__main,
    .info__phones {
        display: none;
    }

    @media (max-width: 991.98px) {

        .header__menu,
        .menu__list,
        .menu__use,
        .help-header,
        .navigation-header__list {
            flex-direction: column;
            align-self: start;
        }

        .help-header {
            flex-direction: column;
            align-items: flex-start;
        }

        .header__menu,
        .help-header,
        .navigation-header__list,
        .help-header {
            row-gap: 20px;
        }

        .help-header__text {
            display: none;
        }

        .menu__item,
        .use__item,
        .navigation-header__item {
            font-size: 40px;
        }

        .help-header__messengers,
        .navigation-header__list,
        .header__language {
            margin-left: 0;
            padding: 15px;
        }


        .header__top {
            display: none;
        }

        .search__input {
            display: none;
        }

        .search__input {
            display: none;
        }

        .search__button {
            display: none;
        }

        .header__main {
            border-bottom: none;
            min-height: 100%;
            display: flex;
            justify-content: space-between;
        }

        .main-header__container {
            display: flex;
            justify-content: space-between;
            padding: 12px 35px;
            width: 100%;
        }

        .header__mobile {
            display: flex;
            justify-content: space-between;
            column-gap: 10px;
            align-items: center;
            padding: 27px 35px;
            border-bottom: 2px solid #F8F8F8;
        }

        .mobile-header__menu {
            display: block;
            position: relative;
            height: 18px;
            width: 30px;
        }

        .mobile-header__menu::before,
        .mobile-header__menu::after,
        .mobile-header__menu span {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            background-color: #000;
        }

        .mobile-header__menu::before {
            top: 0;
        }

        .mobile-header__menu::after {
            bottom: 0;
        }

        .mobile-header__menu span {
            top: 50%;
            transform: translate(0px, -50%);
        }


        .mobile-header__menu--open .mobile-header__menu::before {
            transform: rotate(-45deg);
            top: 50%;
            margin-top: -1px;
            z-index: 2;
        }

        .mobile-header__menu--open .mobile-header__menu::after {
            transform: rotate(45deg);
            bottom: 50%;
            margin-bottom: -1px;
            z-index: 2;
        }

        .mobile-header__menu--open .mobile-header__menu span {
            transform: scale(0);
            z-index: 2;
        }

        .header__burger {
            display: block;
            position: fixed;
            top: 0;
            right: -100%;
            transition: all 0.3s;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 1;
            overflow: auto;
            padding-top: 194px;
            padding-bottom: 30px;
        }

        .header__burger::before {
            content: "";
            position: fixed;
            top: 0;
            right: -100%;
            transition: all 0.3s;
            width: 100%;
            height: 164px;
            background-color: #fff;
            z-index: 3;
        }

        .mobile-header__menu--open .header__burger {
            left: 0;
        }

        .mobile-header__menu--open .header__burger::before {
            left: 0;
        }

        .form-info__button {
            display: block;
        }

        .main-header__info,
        .main-header__container {
            gap: 20px;
        }

        @media (max-width: 767.98px) {

            .main-header__info,
            .info__icons,
            .main-header__container {
                gap: 10px;
            }

            @media (max-width: 479.98px) {

                .header__mobile,
                .main-header__container {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

        }

    }
}